<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasc.business.login.wechat" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.pingan.smt.template.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
